<% if (typeof(type) != 'undefined' && type == 'blog') { %>
<head>
    <meta charset="utf-8">

    <!--====== Title ======-->
    <title>Blog - NAYA Technology ID</title>

    <meta name="description" content="Tulisan-tulisan oleh NAYA Technology ID">
    <meta name=”robots” content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Blog - NAYA Technology ID" />
    <meta property="og:description" content="Tulisan-tulisan oleh NAYA Technology ID." />
    <meta property="og:url" content="https://nayatech.id/blog.html" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://nayatech.id/assets/images/logo-circle.png" />

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/images/logo-circle.png" type="image/png">

    <!--====== Magnific Popup CSS ======-->
    <!-- <link rel="stylesheet" href="assets/css/magnific-popup.css"> -->

    <!--====== Slick CSS ======-->
    <!-- <link rel="stylesheet" href="assets/css/slick.css"> -->

    <!--====== Line Icons CSS ======-->
    <!-- <link rel="stylesheet" href="assets/css/LineIcons.css"> -->
    <link rel="preload" href="assets/css/LineIcons.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <!--====== Bootstrap CSS ======-->
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->
    <link rel="preload" href="assets/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <!--====== Default CSS ======-->
    <!-- <link rel="stylesheet" href="assets/css/default.css"> -->
    <link rel="preload" href="assets/css/default.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <!--====== Style CSS ======-->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <link rel="preload" href="assets/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <style>
        .nav-item a {
            color: #495057 !important;
        }

        .nav-item a::before {
            background: linear-gradient(to right, rgba(18, 18, 18, 0) 0%, #222 100%) !important;
        }

        .team-style-eleven .team-content .sub-title {
            color: #495057 !important;
        }

        .team-style-eleven:hover .team-content .sub-title {
            color: #eee !important;
        }
    </style>
  </head>
<% } else { %>
  <head>
    <meta charset="utf-8">

    <!--====== Title ======-->
    <title>NAYA Technology ID</title>

    <meta name="description" content="Dengan teknologi, hidup menjadi lebih baik.">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="NAYA Technology ID" />
    <meta property="og:description" content="Dengan teknologi, hidup menjadi lebih baik." />
    <meta property="og:url" content="https://nayatech.id" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://nayatech.id/assets/images/logo-circle.png" />

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/images/logo-circle.png" type="image/png">

    <!--====== Magnific Popup CSS ======-->
    <!-- <link rel="stylesheet" href="assets/css/magnific-popup.css"> -->

    <!--====== Slick CSS ======-->
    <!-- <link rel="stylesheet" href="assets/css/slick.css"> -->

    <!--====== Line Icons CSS ======-->
    <!-- <link rel="stylesheet" href="assets/css/LineIcons.css"> -->
    <link rel="preload" href="assets/css/LineIcons.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <!--====== Bootstrap CSS ======-->
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->
    <link rel="preload" href="assets/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <!--====== Default CSS ======-->
    <!-- <link rel="stylesheet" href="assets/css/default.css"> -->
    <link rel="preload" href="assets/css/default.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <!--====== Style CSS ======-->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <link rel="preload" href="assets/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

  </head>
<% } %>