<!doctype html>
<html lang="en">

<%- include('partials/head'); %>

<body>
    <section class="navbar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">

                        <a class="navbar-brand" href="/">
                            <img src="assets/images/logo-circle.png" alt="NAYA Technology" width="15%" height="15%" />
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTwo"
                            aria-controls="navbarTwo" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarTwo">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item active"><a class="page-scroll" href="#home">Home</a></li>
                                <li class="nav-item"><a class="page-scroll" href="#solution">Solution</a></li>
                                <li class="nav-item"><a class="page-scroll" href="#training">Training</a></li>
                                <li class="nav-item"><a class="page-scroll" href="#team">Team</a></li>
                                <li class="nav-item"><a class="page-scroll" href="/blog">Blog</a></li>
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section id="home" class="slider_area">
        <div id="carouselThree" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="slider-content">
                            <div class="row">
                                <div class="col-md-7 col-sm-12">
                                    <h1 class="title">NAYA Technology</h1>
                                    <p class="text">Dengan teknologi, hidup menjadi lebih baik.</p>
                                    <ul class="slider-btn rounded-buttons">
                                        <li>
                                            <a class="main-btn rounded-one" href="mailto:nayatech.id@gmail.com">Hubungi
                                                Kami</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-5 d-none d-lg-block">
                                    <img src="https://imagecdn.app/v1/images/https%3A%2F%2Fnayatech.id%2Fassets%2Fimages%2Fillustration-naya.png?width=400&height=400" alt="NAYA Technology ID"
                                        style="margin-top: -3rem" width="400px" height="400px" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="solution" class="features-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-10">
                        <h3 class="title">Solution</h3>
                        <p class="text">
                            Kami hadir dengan solusi bagi digitalisasi bisnis Anda guna menaikkan bisnis Anda ke level
                            yang lebih tinggi.
                        </p>
                    </div> <!-- row -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="single-features mt-40">
                        <div class="text-center mb-5">
                            <img src="assets/images/illustration-company-profile.png" alt="" width="50%" height="50%">
                        </div>
                        <div class="features-title-icon d-flex justify-content-between">
                            <h4 class="features-title"><a href="#">Company Profile</a></h4>
                        </div>
                        <div class="features-content">
                            <p class="text">Tunjukkan eksistensi bisnis Anda melalui Internet dan raihlah lebih banyak
                                pelanggan.</p>
                            <!-- <a class="features-btn" href="#">LEARN MORE</a> -->
                        </div>
                    </div> <!-- single features -->
                </div>
                <div class="col-md-4">
                    <div class="single-features mt-40">
                        <div class="text-center mt-4 mb-5">
                            <img src="assets/images/illustration-information-system.png" alt="" width="55%" height="55%">
                        </div>
                        <div class="features-title-icon d-flex justify-content-between">
                            <h4 class="features-title"><a href="#">Information System</a></h4>
                        </div>
                        <div class="features-content">
                            <p class="text">Kelola data bisnis Anda dan dapatkan informasi dengan rentang waktu yang
                                diinginkan.</p>
                            <!-- <a class="features-btn" href="#">LEARN MORE</a> -->
                        </div>
                    </div> <!-- single features -->
                </div>
                <div class="col-md-4">
                    <div class="single-features mt-40">
                        <div class="text-center mb-5">
                            <img src="assets/images/illustration-bussiness-tool.png" alt="" width="50%" height="50%">
                        </div>
                        <div class="features-title-icon d-flex justify-content-between">
                            <h4 class="features-title"><a href="#">Bussiness Tools</a></h4>
                        </div>
                        <div class="features-content">
                            <p class="text">Ciptakan alat yang membuat bisnis Anda menjadi lebih otomatis dan segalanya
                                berjalan dengan cepat.</p>
                            <!-- <a class="features-btn" href="#">LEARN MORE</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="training" class="portfolio-area portfolio-four pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-10">
                        <h3 class="title">Training</h3>
                        <p class="text">Kami membantu proses belajar Anda dengan kurikulum yang terarah dan disertai
                            pendampingan.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="portfolio-menu text-center mt-50">
                        <ul>
                            <li data-filter="*">All Topics</li>
                            <li data-filter=".fullstack">Fullstack</li>
                            <li data-filter=".mobile">Mobile</li>
                        </ul>
                    </div> <!-- portfolio menu -->
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row no-gutters grid mt-50">
                        <div class="col-lg-4 col-sm-6 fullstack">
                            <div class="single-portfolio mb-3">
                                <div class="portfolio-image text-center mb-3">
                                    <img src="assets/images/icon-javascript.png" alt="" style="width: 100px !important" width="100x" height="100px">
                                </div>
                                <h4 class="text-center">Javascript Fundamental</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 fullstack">
                            <div class="single-portfolio mb-3">
                                <div class="portfolio-image text-center mb-3">
                                    <img src="assets/images/icon-nodejs.png" alt="" style="width: 100px !important" width="100x" height="100px">
                                </div>
                                <h4 class="text-center">NodeJS Fundamental</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 fullstack">
                            <div class="single-portfolio mb-3">
                                <div class="portfolio-image text-center mb-3">
                                    <img src="assets/images/icon-npm.png" alt="" style="width: 100px !important" width="100x" height="100px">
                                </div>
                                <h4 class="text-center">NodeJS Package Manager</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 fullstack py-5">
                            <div class="single-portfolio mb-3">
                                <div class="portfolio-image text-center mb-3">
                                    <img src="https://imagecdn.app/v1/images/https%3A%2F%2Fnayatech.id%2Fassets%2Fimages%2Ficon-mariadb.png?width=150&height=100" alt="" style="width: 150px !important" width="150x" height="100px">
                                </div>
                                <h4 class="text-center">Data Management</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mobile py-5">
                            <div class="single-portfolio mb-3">
                                <div class="portfolio-image text-center mb-3">
                                    <img src="https://imagecdn.app/v1/images/https%3A%2F%2Fnayatech.id%2Fassets%2Fimages%2Ficon-dart.png?width=100&height=100" alt="" style="width: 100px !important" width="100px" height="100px">
                                </div>
                                <h4 class="text-center">Dart Fundamental</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mobile py-5">
                            <div class="single-portfolio mb-3">
                                <div class="portfolio-image text-center mb-3">
                                    <img src="assets/images/icon-flutter.png" alt="" style="width: 100px !important"  width="100px" height="100px">
                                </div>
                                <h4 class="text-center">Flutter Fundamental</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="team-area pt-120 pb-130" style="background: #f4f6f7;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-30">
                        <h3 class="title">Team</h3>
                        <p class="text">Kami terdiri dari masing-masing personal dengan beragam keahlian dan pengalaman
                            profesional di bidang teknologi.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s"
                        data-wow-delay="0s">
                        <div class="team-image">
                            <img src="https://imagecdn.app/v1/images/https%3A%2F%2Fnayatech.id%2Fassets%2Fimages%2Fteam-yoga.jpg?width=290&height=426" alt="Team" width="100%" height="100%">
                        </div>
                        <div class="team-content">
                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="https://www.linkedin.com/in/yoga-hermawan-78796b141/" target="_blank" rel="noreferrer">Lihat Profil</a></li>
                                </ul>
                            </div>
                            <h4 class="team-name"><a href="#">Yogo Hermawan</a></h4>
                            <span class="sub-title">Frontend Web Engineer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s"
                        data-wow-delay="0s">
                        <div class="team-image">
                            <img src="https://imagecdn.app/v1/images/https%3A%2F%2Fnayatech.id%2Fassets%2Fimages%2Fteam-chandra.jpg?width=290&height=426" alt="Team"  width="100%" height="100%">
                        </div>
                        <div class="team-content">
                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="https://www.linkedin.com/in/born2ngopi/" target="_blank" rel="noreferrer">Lihat
                                            Profil</a></li>
                                </ul>
                            </div>
                            <h4 class="team-name"><a href="#">Chandra Agung Rizky</a></h4>
                            <span class="sub-title">Backend Engineer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="team-style-eleven text-center mt-30 wow fadeIn" data-wow-duration="1s"
                        data-wow-delay="0s">
                        <div class="team-image">
                            <img src="https://imagecdn.app/v1/images/https%3A%2F%2Fnayatech.id%2Fassets%2Fimages%2Fteam-irpan.jpg?width=290&height=426" alt="Team"  width="100%" height="100%">
                        </div>
                        <div class="team-content">
                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="https://www.linkedin.com/in/irfan-ade-pradana-278b15142/" target="_blank" rel="noreferrer">Lihat Profil</a></li>
                                </ul>
                            </div>
                            <h4 class="team-name"><a href="#">Irpan Ade Pradana</a></h4>
                            <span class="sub-title">Mobile App Engineer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer-area footer-dark pt-5 pb-5">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="footer-logo text-center">
                        <a href="/" style="width: 10%;">
                            <img src="assets/images/logo-circle.png" alt="NAYA Technology" width="100%" height="100%">
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="copyright text-center mt-3">
                        <p class="text">
                            Built with <span class="text-danger" style="font-size: 1.5rem;">&hearts;</span> by
                            <a href="https://nayatech.id" rel="nofollow">NAYA Technology</a>
                        </p>
                    </div>
                </div>
                <div class="col">
                    <ul class="social text-center mt-3">
                        <li>
                            <a href="mailto:nayatech.id@gmail.com" target="_blank">
                                <i class="lni lni-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- <div class="col-lg-11">
                    <ul class="social text-center mt-60">
                        <li><a href="https://facebook.com/"><i class="lni lni-facebook-filled"></i></a></li>
                        <li><a href="https://twitter.com/"><i class="lni lni-twitter-original"></i></a></li>
                        <li><a href="https://instagram.com/"><i class="lni lni-instagram-original"></i></a></li>
                        <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </section>

    <%- include('partials/js') %>

</body>

</html>